@font-face {
    font-family: "ubuntu mono";
    src: url("UbuntuMono-Regular.ttf") format("truetype");
}

* {
    font-family: 'ubuntu mono';
}

.contact {
    font-size: 2em;
    /* Adjust to make the text bigger */
    text-align: center;
    /* Center the text horizontally */
    display: flex;
    /* Use flexbox to center the content vertically */
    flex-direction: column;
    /* Stack the content vertically */
    justify-content: center;
    /* Center the content vertically */
    height: 80vh;
    /* Take up the full viewport height */
}

#navbar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    background-color: #333;
    padding: 20px;
    transition: right 0.3s ease;
}

body,
.projects {
    height: auto;
    overflow: auto;

}

.projects {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 69px;
    overflow: hidden;
    text-align: center;
    font-size: large;
    position: relative;
}

.project {
    width: 90%;
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    width: 90%;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .project img {
        width: 90%;
    }
}

body {
    background: radial-gradient(circle at bottom, #3c3f58 0%, #25295d 25%, #191e5f 50%, #060714 75%, #000000 100%);
    /*78 27*/
    color: white;
}

#navbar {
    background: #2b2b2b;
}

/* CSS */
#navbar a {
    display: block;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #f0f0f0;
}

#menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

#menu-button {
    background: none;
    border: none;
    outline: none;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 11;
}

#menu-button .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
    #navbar {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        background-color: transparent;
        background: radial-gradient(circle at bottom, rgb(25, 30, 95, 0.85)0%, rgb(6, 7, 20, 0.85)40%, rgb(0, 0, 0, 0.85)100%);
        ;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }


    #navbar a::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: rgb(30, 0, 225, 0.9);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    .active {
        text-shadow: 0 0 10px #a0a0ff, 0 0 20px #151E86, 0 0 30px #a0a0ff, 0 0 40px cyan;
    }



    #navbar a:hover::after {
        transform: scaleX(1);
    }

    #navbar a {
        letter-spacing: 2px;
        transition: text-shadow 1s ease-in;
        position: relative;
        margin-bottom: 0;
    }

    #menu-button {
        display: none;
    }
}

/* Styles for Desktop */
@media screen and (min-width: 601px) {
    #navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        padding: 10px;
        height: 50px;
    }
}

@media screen and (max-width: 601px) {
    #navbar {
        z-index: 10;
        background-color: #2b2b2b;
    }
}

@media screen {}

.dot {
    position: fixed;
    background-color: #5e5e5e;
    border-radius: 50%;
    animation: fade 12s infinite ease-in-out;
    z-index: 2;
    pointer-events: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 20vh;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    position: relative;
}

.beingTyped::after {
    content: '_';
    position: absolute;
    right: -0.05em;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at bottom, #3c3f58 0%, #25295d 25%, #191e5f 50%, #060714 75%, #000000 100%);
    z-index: -1;
}

.center {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow: auto;
}